node_modules
app/node_modules
app/dist
npm-debug.log*

# Prevent duplicates of root config files inside /code
/code/.gitignore
/code/README.md
/code/package.json
/code/package-lock.json
/code/vercel.json
/code/playwright.config.ts
